body {
    background-color: lightgrey;
}

body div {
    margin-left: auto;
    margin-right: auto;
    width: 600px; 
}

header {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    text-align: center;
    background-color: red;
}

header h1 {
    font-size: 70px;
    font-family: 'Courier New', 'Arial Narrow', Arial, sans-serif;
    padding-top: 20px;
    margin-bottom: 20px;
}

header h3 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 40px;
    padding-bottom: 20px;
}

h2 {
    font-size: 35px;
    text-align: center;
}

p {
    font-size: 18px;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

#face-pic {
    margin: auto;
    padding-top: 30px;
    
}
